#cellButton {
  padding: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #283d54;
  width: var(--edgeLength);
  height: var(--edgeLength);
  border-width: calc(var(--edgeLength) * 0.15);
  border-style: outset;
  border-color: #3b5a7a;
  border-radius: 15px;

  color: white;
  font-size: calc(var(--edgeLength) * 0.9);
  font-weight: bolder;
}

#cellButton:hover {
  background-color: #586f86;
  border-color: #7897b5;
}

#cellButton.clicked {
  animation: insetButtonOnClick 0.2s;
}

@keyframes insetButtonOnClick {
  0% {
    border-style: inset;
  }
  90% {
    border-style: inset;
  }
  100% {
    border-style: outset;
  }
}
