#header {
  font-size: xx-large;
  padding-left: 10px;
  margin: none;
}
#body {
  margin: none;
  padding: none;
  display: flex;
}
header {
  margin: none;
  display: flex;
  padding: 10px;
}
#timer {
  margin-left: auto;
  margin-right: auto;
}
#score {
  margin-left: auto;
  margin-right: auto;
}
#sideBar {
  margin-left: 30px;
  padding: 20px;
  background-color: beige;
  color: tan;
}
