#cellBody {
  display: inline-flex;
  min-width: var(--edgeLength);
  min-height: var(--edgeLength);
  max-width: var(--edgeLength);
  max-height: var(--edgeLength);
  background-color: beige;
  align-items: center;
  justify-content: center;
  border-width: calc(var(--edgeLength)*.1);
  border-style: outset;
  border-color: blanchedalmond;
}

#cellBody:hover {
  background-color: #EBDBB9;
  border-color: #EDD69D;
}

#cellButton {
  background-color: transparent;
  color: tan;
  font-size: calc(var(--edgeLength)*.7);
  font-weight: bolder;
  min-width: calc(var(--edgeLength)*1);
  min-height: calc(var(--edgeLength)*1);
  padding: 0;
}

#cellButton:focus {
  outline: none; 
  box-shadow: none; 
}
#cellButton:hover {
  outline: none;
  box-shadow: none;
  color: #C49D68;
}